.App {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
.header{
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
  height: 150px;


}

.city-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: normal;
  z-index: 1;
}
.city {
  border:8px solid transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 7px;
  border-radius: 8px;
}
.autocomplete{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}
.updateAll{
  margin-top: 23px;
  font-size: 16px;
}
